<ion-header>

  <ion-navbar hideBackButton>

    <ion-title style="position: absolute;
  top: 0;
  left: 0;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;">{{restaurant_name}}</ion-title>

    <ion-buttons>
      <button ion-button (click)="goHome()" style="float: left;">
        <ion-icon name="arrow-back" style="float: left;"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content  padding class="restaurant-content">
  <div id="restaurant_info_container">
    <div id="imgcontainer">
    <img id="restaurant_image" [src]="restaurant.imageUrl"/>
    <div id="rating_box">
      <ionic3-star-rating
        activeIcon="ios-star"
        defaultIcon="ios-star-outline"
        activeColor="#E7C251"
        defaultColor="#E7C251"
        readonly="true"
        rating= "{{ restaurant.rating }}" >
      </ionic3-star-rating>
      <div id="rating">
        {{ restaurant.rating }}/5
        {{ restaurant.reviews }} Reviews
      </div>
    </div>
    </div>
    <div id="container-list">
      <ion-list id="infolist">
        <ion-item>
          <ion-label text-wrap>{{restaurant.cuisineType}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label text-wrap>Open time : {{restaurant.openTime}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label text-wrap>Close Time : {{ restaurant.closeTime}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label text-wrap>Take away : {{restaurant_takeout }}</ion-label>
        </ion-item>
        <!--<ion-item>
          <div class="allergen_box">
            <div *ngFor="let allergen of restaurant.allergens">
              <img class="allergen_icon" [src]="celery_image_url" *ngIf="allergen == 'celery'" alt="Celery" (click)="showInfoBubble('Celery')">
              <img class="allergen_icon" [src]="crustacean_image_url" *ngIf="allergen == 'crustacean'" alt="Crustacean" (click)="showInfoBubble('Crustacean')">
              <img class="allergen_icon" [src]="egg_image_url" *ngIf="allergen == 'egg'" alt="Egg" (click)="showInfoBubble('Egg')">
              <img class="allergen_icon" [src]="fish_image_url" *ngIf="allergen == 'fish'" alt="Fish" (click)="showInfoBubble('Fish')">
              <img class="allergen_icon" [src]="lupin_image_url" *ngIf="allergen == 'lupin'" alt="Lupin" (click)="showInfoBubble('Lupin')">
              <img class="allergen_icon" [src]="milk_image_url" *ngIf="allergen == 'milk'" alt="Milk" (click)="showInfoBubble('Milk')">
              <img class="allergen_icon" [src]="mollusc_image_url" *ngIf="allergen == 'mollusc'" alt="Mollusc" (click)="showInfoBubble('Mollusc')">
              <img class="allergen_icon" [src]="mustard_image_url" *ngIf="allergen == 'mustard'" alt="Mustard" (click)="showInfoBubble('Mustard')">
              <img class="allergen_icon" [src]="nuts_image_url" *ngIf="allergen == 'nuts'" alt="Nuts" (click)="showInfoBubble('Nuts')">
              <img class="allergen_icon" [src]="peanuts_image_url" *ngIf="allergen == 'peanuts'" alt="Peanuts" (click)="showInfoBubble('Peanuts')">
              <img class="allergen_icon" [src]="sasame_image_url" *ngIf="allergen == 'sesame'" alt="Sesame" (click)="showInfoBubble('Sesame')">
              <img class="allergen_icon" [src]="soya_image_url" *ngIf="allergen == 'soya'" alt="Soya" (click)="showInfoBubble('Soya')">
              <img class="allergen_icon" [src]="sulphur_image_url" *ngIf="allergen == 'sulphur'" alt="Sulphur" (click)="showInfoBubble('Sulphur')">
              <img class="allergen_icon" [src]="wheat_image_url" *ngIf="allergen == 'wheat'" alt="Wheat" (click)="showInfoBubble('Wheat')">
            </div>
          </div>
        </ion-item>-->
      </ion-list>
    </div>

  </div>



  <div id="dishes_container" style="float: left; clear: both;">
    <div class="menu-container">
    <button *ngIf="activated != 1" ion-button #first (click)="showBreakFasts()" class="but" color="custom-light"> Breakfast
      <ion-icon *ngIf="!showbreakfast" name="arrow-dropup" ></ion-icon>
      <ion-icon *ngIf="showbreakfast" name="arrow-dropdown" ></ion-icon>
    </button>
      <button *ngIf="activated == 1" ion-button #first (click)="showBreakFasts()" class="but" color="custom"> Breakfast
        <ion-icon *ngIf="!showbreakfast" name="arrow-dropup" ></ion-icon>
        <ion-icon *ngIf="showbreakfast" name="arrow-dropdown" ></ion-icon>
      </button>
    <button *ngIf="activated != 2" ion-button #second (click)="showLunch()" class="but" color="custom-light"> Lunch
      <ion-icon *ngIf="!showlunch" name="arrow-dropup" ></ion-icon>
      <ion-icon *ngIf="showlunch" name="arrow-dropdown" ></ion-icon>
    </button>
    <button *ngIf="activated == 2" ion-button #second (click)="showLunch()" class="but" color="custom"> Lunch
      <ion-icon *ngIf="!showlunch" name="arrow-dropup" ></ion-icon>
      <ion-icon *ngIf="showlunch" name="arrow-dropdown" ></ion-icon>
    </button>
    <button *ngIf="activated != 3" ion-button #third (click)="showDinner()" class="but" color="custom-light"> Dinner
      <ion-icon *ngIf="!showdinner" name="arrow-dropup" ></ion-icon>
      <ion-icon *ngIf="showdinner" name="arrow-dropdown" ></ion-icon>
    </button>
    <button *ngIf="activated == 3" ion-button #third (click)="showDinner()" class="but" color="custom"> Dinner
      <ion-icon *ngIf="!showdinner" name="arrow-dropup" ></ion-icon>
      <ion-icon *ngIf="showdinner" name="arrow-dropdown" ></ion-icon>
    </button>
    </div>
    <div class="breakfastcontainer" *ngIf="showbreakfast == true">
      <ion-list *ngFor="let dish of breakfastList">
        <ion-card class="show-dish">
          <ion-card-title class="dish-title" (click)="navigateToDish(dish)">{{ dish.name }}</ion-card-title>
          <ion-label class="dish-price">{{ dish.price }}$</ion-label>
          <ion-card-content>
            <img  class="dish-image" [src]="dish.imageURL"/>
            <div class="allergen_box">
              <div *ngFor="let allergen of dish.allergens">
                <img class="allergen_icon" [src]="celery_image_url" *ngIf="allergen == 'celery'" alt="Celery" (click)="showInfoBubble('Celery')">
                <img class="allergen_icon" [src]="crustacean_image_url" *ngIf="allergen == 'crustacean'" alt="Crustacean" (click)="showInfoBubble('Crustacean')">
                <img class="allergen_icon" [src]="egg_image_url" *ngIf="allergen == 'egg'" alt="Egg" (click)="showInfoBubble('Egg')">
                <img class="allergen_icon" [src]="fish_image_url" *ngIf="allergen == 'fish'" alt="Fish" (click)="showInfoBubble('Fish')">
                <img class="allergen_icon" [src]="lupin_image_url" *ngIf="allergen == 'lupin'" alt="Lupin" (click)="showInfoBubble('Lupin')">
                <img class="allergen_icon" [src]="milk_image_url" *ngIf="allergen == 'milk'" alt="Milk" (click)="showInfoBubble('Milk')">
                <img class="allergen_icon" [src]="mollusc_image_url" *ngIf="allergen == 'mollusc'" alt="Mollusc" (click)="showInfoBubble('Mollusc')">
                <img class="allergen_icon" [src]="mustard_image_url" *ngIf="allergen == 'mustard'" alt="Mustard" (click)="showInfoBubble('Mustard')">
                <img class="allergen_icon" [src]="nuts_image_url" *ngIf="allergen == 'nuts'" alt="Nuts" (click)="showInfoBubble('Nuts')">
                <img class="allergen_icon" [src]="peanuts_image_url" *ngIf="allergen == 'peanuts'" alt="Peanuts" (click)="showInfoBubble('Peanuts')">
                <img class="allergen_icon" [src]="sasame_image_url" *ngIf="allergen == 'sesame'" alt="Sesame" (click)="showInfoBubble('Sesame')">
                <img class="allergen_icon" [src]="soya_image_url" *ngIf="allergen == 'soya'" alt="Soya" (click)="showInfoBubble('Soya')">
                <img class="allergen_icon" [src]="sulphur_image_url" *ngIf="allergen == 'sulphur'" alt="Sulphur" (click)="showInfoBubble('Sulphur')">
                <img class="allergen_icon" [src]="wheat_image_url" *ngIf="allergen == 'wheat'" alt="Wheat" (click)="showInfoBubble('Wheat')">
              </div>
            </div>

            <!--<ion-list *ngFor="let ingredient of dish.ingredients">
              <ion-item>{{ ingredient }}</ion-item>
            </ion-list>-->
          </ion-card-content>
        </ion-card>
      </ion-list>
    </div>



    <div class="lunchcontainer" *ngIf="showlunch == true">
      <ion-list *ngFor="let dish of lunchlist">
        <ion-card class="show-dish">
          <ion-card-title class="dish-title" (click)="navigateToDish(dish)">{{ dish.name }}</ion-card-title>
          <ion-label class="dish-price">{{ dish.price }}$</ion-label>
          <ion-card-content>
            <img  class="dish-image" [src]="dish.imageURL"/>
            <div class="allergen_box">
              <div *ngFor="let allergen of dish.allergens">
                <img class="allergen_icon" [src]="celery_image_url" *ngIf="allergen == 'celery'" alt="Celery" (click)="showInfoBubble('Celery')">
                <img class="allergen_icon" [src]="crustacean_image_url" *ngIf="allergen == 'crustacean'" alt="Crustacean" (click)="showInfoBubble('Crustacean')">
                <img class="allergen_icon" [src]="egg_image_url" *ngIf="allergen == 'egg'" alt="Egg" (click)="showInfoBubble('Egg')">
                <img class="allergen_icon" [src]="fish_image_url" *ngIf="allergen == 'fish'" alt="Fish" (click)="showInfoBubble('Fish')">
                <img class="allergen_icon" [src]="lupin_image_url" *ngIf="allergen == 'lupin'" alt="Lupin" (click)="showInfoBubble('Lupin')">
                <img class="allergen_icon" [src]="milk_image_url" *ngIf="allergen == 'milk'" alt="Milk" (click)="showInfoBubble('Milk')">
                <img class="allergen_icon" [src]="mollusc_image_url" *ngIf="allergen == 'mollusc'" alt="Mollusc" (click)="showInfoBubble('Mollusc')">
                <img class="allergen_icon" [src]="mustard_image_url" *ngIf="allergen == 'mustard'" alt="Mustard" (click)="showInfoBubble('Mustard')">
                <img class="allergen_icon" [src]="nuts_image_url" *ngIf="allergen == 'nuts'" alt="Nuts" (click)="showInfoBubble('Nuts')">
                <img class="allergen_icon" [src]="peanuts_image_url" *ngIf="allergen == 'peanuts'" alt="Peanuts" (click)="showInfoBubble('Peanuts')">
                <img class="allergen_icon" [src]="sasame_image_url" *ngIf="allergen == 'sesame'" alt="Sesame" (click)="showInfoBubble('Sesame')">
                <img class="allergen_icon" [src]="soya_image_url" *ngIf="allergen == 'soya'" alt="Soya" (click)="showInfoBubble('Soya')">
                <img class="allergen_icon" [src]="sulphur_image_url" *ngIf="allergen == 'sulphur'" alt="Sulphur" (click)="showInfoBubble('Sulphur')">
                <img class="allergen_icon" [src]="wheat_image_url" *ngIf="allergen == 'wheat'" alt="Wheat" (click)="showInfoBubble('Wheat')">
              </div>
            </div>
            <!--<ion-list *ngFor="let ingredient of dish.ingredients">
              <ion-item>{{ ingredient }}</ion-item>
            </ion-list>-->
          </ion-card-content>
        </ion-card>
      </ion-list>
    </div>
  </div>



  <div class="dinnercontainer" *ngIf="showdinner== true">
    <ion-list *ngFor="let dish of dinnerList">
      <ion-card class="show-dish">
        <ion-card-title class="dish-title" (click)="navigateToDish(dish)">{{ dish.name }}</ion-card-title>
        <ion-label class="dish-price">{{ dish.price }}$</ion-label>
        <ion-card-content>
          <img  class="dish-image" [src]="dish.imageURL"/>
          <div class="allergen_box">
            <div *ngFor="let allergen of dish.allergens">
              <img class="allergen_icon" [src]="celery_image_url" *ngIf="allergen == 'celery'" alt="Celery" (click)="showInfoBubble('Celery')">
              <img class="allergen_icon" [src]="crustacean_image_url" *ngIf="allergen == 'crustacean'" alt="Crustacean" (click)="showInfoBubble('Crustacean')">
              <img class="allergen_icon" [src]="egg_image_url" *ngIf="allergen == 'egg'" alt="Egg" (click)="showInfoBubble('Egg')">
              <img class="allergen_icon" [src]="fish_image_url" *ngIf="allergen == 'fish'" alt="Fish" (click)="showInfoBubble('Fish')">
              <img class="allergen_icon" [src]="lupin_image_url" *ngIf="allergen == 'lupin'" alt="Lupin" (click)="showInfoBubble('Lupin')">
              <img class="allergen_icon" [src]="milk_image_url" *ngIf="allergen == 'milk'" alt="Milk" (click)="showInfoBubble('Milk')">
              <img class="allergen_icon" [src]="mollusc_image_url" *ngIf="allergen == 'mollusc'" alt="Mollusc" (click)="showInfoBubble('Mollusc')">
              <img class="allergen_icon" [src]="mustard_image_url" *ngIf="allergen == 'mustard'" alt="Mustard" (click)="showInfoBubble('Mustard')">
              <img class="allergen_icon" [src]="nuts_image_url" *ngIf="allergen == 'nuts'" alt="Nuts" (click)="showInfoBubble('Nuts')">
              <img class="allergen_icon" [src]="peanuts_image_url" *ngIf="allergen == 'peanuts'" alt="Peanuts" (click)="showInfoBubble('Peanuts')">
              <img class="allergen_icon" [src]="sasame_image_url" *ngIf="allergen == 'sesame'" alt="Sesame" (click)="showInfoBubble('Sesame')">
              <img class="allergen_icon" [src]="soya_image_url" *ngIf="allergen == 'soya'" alt="Soya" (click)="showInfoBubble('Soya')">
              <img class="allergen_icon" [src]="sulphur_image_url" *ngIf="allergen == 'sulphur'" alt="Sulphur" (click)="showInfoBubble('Sulphur')">
              <img class="allergen_icon" [src]="wheat_image_url" *ngIf="allergen == 'wheat'" alt="Wheat" (click)="showInfoBubble('Wheat')">
            </div>
          </div>

          <!--<ion-list *ngFor="let ingredient of dish.ingredients">
            <ion-item>{{ ingredient }}</ion-item>
          </ion-list>-->
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>

  <div style="margin-left:5%;height: 50%; width: 90%; clear: both;">
    <h1 style="margin-left: 35%;">Map</h1>
    <!--<app-custom-map [position]="{'latitude': restaurant.latitude, 'longitude': restaurant.longitude}"></app-custom-map>-->
    <app-custom-map restname="{{restaurant_name}}"></app-custom-map>
  </div>
</ion-content>
