page-restaurant {
  .allergen_icon{
    width: 18%;
    height: 18%;
    margin-left: 2%;
    float: left;
  }



  ion-list{
    border-radius: 5%;
    background-color: rgba(239,233,235,0) !important;
  }

  ion-list ion-item{
    background-color: rgba(239,233,235,0.8) !important;
  }
//border-radius: 20px !important;
  ion-item {  padding-left: 10px; padding-right: 10px; padding-bottom: 5px; padding-top: 5px; }

  #container-list{
    display: inline;
    float: right;
    width: 100%;
    margin-right: -45%;
  }

  .menu-container{
    margin-left: 2%;
    width: 100%;
  }

  .dish-title{
    float: left;
    margin-left: 5%;
  }

  .dish-price{
    float: right;
    margin-right: 5%;
  }

  .dish-image{
    width: 150px;
    height: 100px;
    clear: both;
    margin-left: 25%;
  }

  #imgcontainer{
    width: 45%;
    float:left;
    margin-left: -2%;
  }

  #rating_box{
    margin-top: 5%;
    width: 160px !important;
    margin-left: -5%;
  }
  .restaurant-content{
    /*background-image: url('../../assets/imgs/wheat-background.jpg');
    background-size: cover;*/
  }



  #imgcontainer img{
    width: 171px;
    height: 114px;
    border-radius: 5%;
  }

  #rating{
    margin-top: 5%;
    font-size: 1.3em;
  }

  #dishes_container{
    display: inline-block;
  }

  #infolist{
    width: 54%;
    float: left;

  }
  .allergen_icon{
    width: 13%;
    height: 13%;
    margin-left: 5%;
    float: left;
    margin-top: 2%;
    margin-bottom: 3%;
  }
  .show-dish {
    //background-color: #f2e2dc;
    color: #591902;
    /*background-color: #EFE9EB;*/
    background-color: rgba(239, 233, 235, 0.9);
    border-radius: 10%;
  }
}
