<ion-header>

  <ion-navbar>
    <ion-title>{{restaurant_name}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div id="restaurant_info_container">
    <div id="imgcontainer">
    <img id="restaurant_image" [src]="restaurant.imageUrl"/>
    <div id="rating_box">
      <ionic3-star-rating
        activeIcon="ios-star"
        defaultIcon="ios-star-outline"
        activeColor="#488aff"
        defaultColor="#f4f4f4"
        readonly="true"
        [rating]= restaurant.rating >
      </ionic3-star-rating>
      <div id="rating">
        {{ restaurant.rating }}/5
        {{ restaurant.reviews }} Reviews
      </div>
    </div>
    </div>
    <div>
      <ion-list id="infolist">
        <ion-item>
          <ion-label text-wrap>Cuisine : {{restaurant.cuisineType}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label text-wrap>Open time : {{restaurant.openTime}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label text-wrap>Close Time : {{ restaurant.closeTime}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label text-wrap>Take out : {{restaurant_takeout }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label text-wrap>City : {{ restaurant.city }}</ion-label>
        </ion-item>
        <ion-item>
          <div class="allergen_box">
            <div *ngFor="let allergen of restaurant.allergens">
              <img class="allergen_icon" [src]="celery_image_url" *ngIf="allergen == 'celery'" alt="Celery" (click)="showInfoBubble('Celery')">
              <img class="allergen_icon" [src]="crustacean_image_url" *ngIf="allergen == 'crustacean'" alt="Crustacean" (click)="showInfoBubble('Crustacean')">
              <img class="allergen_icon" [src]="egg_image_url" *ngIf="allergen == 'egg'" alt="Egg" (click)="showInfoBubble('Egg')">
              <img class="allergen_icon" [src]="fish_image_url" *ngIf="allergen == 'fish'" alt="Fish" (click)="showInfoBubble('Fish')">
              <img class="allergen_icon" [src]="lupin_image_url" *ngIf="allergen == 'lupin'" alt="Lupin" (click)="showInfoBubble('Lupin')">
              <img class="allergen_icon" [src]="milk_image_url" *ngIf="allergen == 'milk'" alt="Milk" (click)="showInfoBubble('Milk')">
              <img class="allergen_icon" [src]="mollusc_image_url" *ngIf="allergen == 'mollusc'" alt="Mollusc" (click)="showInfoBubble('Mollusc')">
              <img class="allergen_icon" [src]="mustard_image_url" *ngIf="allergen == 'mustard'" alt="Mustard" (click)="showInfoBubble('Mustard')">
              <img class="allergen_icon" [src]="nuts_image_url" *ngIf="allergen == 'nuts'" alt="Nuts" (click)="showInfoBubble('Nuts')">
              <img class="allergen_icon" [src]="peanuts_image_url" *ngIf="allergen == 'peanuts'" alt="Peanuts" (click)="showInfoBubble('Peanuts')">
              <img class="allergen_icon" [src]="sasame_image_url" *ngIf="allergen == 'sesame'" alt="Sesame" (click)="showInfoBubble('Sesame')">
              <img class="allergen_icon" [src]="soya_image_url" *ngIf="allergen == 'soya'" alt="Soya" (click)="showInfoBubble('Soya')">
              <img class="allergen_icon" [src]="sulphur_image_url" *ngIf="allergen == 'sulphur'" alt="Sulphur" (click)="showInfoBubble('Sulphur')">
              <img class="allergen_icon" [src]="wheat_image_url" *ngIf="allergen == 'wheat'" alt="Wheat" (click)="showInfoBubble('Wheat')">
            </div>
          </div>
        </ion-item>
      </ion-list>
    </div>
  </div>



  <div id="dishes_container" style="float: left; clear: both;">
    <button ion-button (click)="showBreakFasts()"> Breakfast
      <ion-icon name="add-circle"></ion-icon>
    </button>
    <div class="breakfastcontainer" *ngIf="showbreakfast == true">
      <ion-list *ngFor="let dish of breakfastList">
        <ion-card>
          <ion-card-title>{{ dish.name }}</ion-card-title>
          <ion-label>{{ dish.price }}$</ion-label>
          <ion-card-content>
            <div class="allergen_box">
              <div *ngFor="let allergen of dish.allergens">
                <img class="allergen_icon" [src]="celery_image_url" *ngIf="allergen == 'celery'" alt="Celery" (click)="showInfoBubble('Celery')">
                <img class="allergen_icon" [src]="crustacean_image_url" *ngIf="allergen == 'crustacean'" alt="Crustacean" (click)="showInfoBubble('Crustacean')">
                <img class="allergen_icon" [src]="egg_image_url" *ngIf="allergen == 'egg'" alt="Egg" (click)="showInfoBubble('Egg')">
                <img class="allergen_icon" [src]="fish_image_url" *ngIf="allergen == 'fish'" alt="Fish" (click)="showInfoBubble('Fish')">
                <img class="allergen_icon" [src]="lupin_image_url" *ngIf="allergen == 'lupin'" alt="Lupin" (click)="showInfoBubble('Lupin')">
                <img class="allergen_icon" [src]="milk_image_url" *ngIf="allergen == 'milk'" alt="Milk" (click)="showInfoBubble('Milk')">
                <img class="allergen_icon" [src]="mollusc_image_url" *ngIf="allergen == 'mollusc'" alt="Mollusc" (click)="showInfoBubble('Mollusc')">
                <img class="allergen_icon" [src]="mustard_image_url" *ngIf="allergen == 'mustard'" alt="Mustard" (click)="showInfoBubble('Mustard')">
                <img class="allergen_icon" [src]="nuts_image_url" *ngIf="allergen == 'nuts'" alt="Nuts" (click)="showInfoBubble('Nuts')">
                <img class="allergen_icon" [src]="peanuts_image_url" *ngIf="allergen == 'peanuts'" alt="Peanuts" (click)="showInfoBubble('Peanuts')">
                <img class="allergen_icon" [src]="sasame_image_url" *ngIf="allergen == 'sesame'" alt="Sesame" (click)="showInfoBubble('Sesame')">
                <img class="allergen_icon" [src]="soya_image_url" *ngIf="allergen == 'soya'" alt="Soya" (click)="showInfoBubble('Soya')">
                <img class="allergen_icon" [src]="sulphur_image_url" *ngIf="allergen == 'sulphur'" alt="Sulphur" (click)="showInfoBubble('Sulphur')">
                <img class="allergen_icon" [src]="wheat_image_url" *ngIf="allergen == 'wheat'" alt="Wheat" (click)="showInfoBubble('Wheat')">
              </div>
            </div>
            <ion-label>KCalories : {{ dish.calories }}</ion-label>
            <img id="" [src]="dish.imageURL"/>
            <ion-list *ngFor="let ingredient of dish.ingredients">
              <ion-item>{{ ingredient }}</ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-list>
    </div>

    <button ion-button (click)="showLunch()"> Breakfast
      <ion-icon name="add-circle"></ion-icon>
    </button>

  </div>
</ion-content>
