page-allergens-filter {

  .check_box_allergen{
    color: #000;
  }

  .allergen_icon{
    width: 15%;
    height: 15%;
    float: right;
  }
  
  .apply_button{
    width: 35%;
    height: 25px;
    margin-left: 33%;
    margin-top: -5%;
  }

}
