<ion-content padding class="home-content">
  <div id="search_box_container" style="width: 75%; margin-left: 5%;box-shadow: none; border: none">
    <ion-searchbar [(ngModel)]="searchTerm"
                   (ionInput)="onSearchInput()"
                   [showCancelButton]=false
                   [debounce]="500"
                   [placeholder]= "placeholder_search_bar"
                  [animated]="true"
                  class="searchbar-inpuut">
    </ion-searchbar>
  </div>
  <ion-icon name="ios-settings-outline" (click)="clickOnSettings()" class="settings-icon"></ion-icon>
  <div style="width: 90%; height: 50%;"><app-custom-map></app-custom-map></div>
  <!--<div id="map-canvas" style="width: 90%; height: 50%; border: 1px solid black;"></div>-->
  <div id="top_restaurants_container">
    <h3 style="color: #000000;">Top 5# restaurants in your city</h3>
    <div id="restaurant_list">
      <ion-list *ngFor="let restaurant of restaurant_list_sorted">
        <ion-card class="top_five_restaurants_card">
          <ion-card-title style="text-align: left;">
            <a style="color: #000000;margin-left: 2%;" (click)="goToRestaurantDishes(restaurant.value.restaurantName, restaurant.type)">{{ restaurant.value.restaurantName }}</a>
          </ion-card-title>
          <ion-card-content>
            <div class="image_container">
              <img [src]="restaurant.value.imageUrl" class="top_five_restaurant_image">
            </div>
            <div class="rating_box">
              <ionic3-star-rating
                activeIcon="ios-star"
                defaultIcon="ios-star-outline"
                activeColor="#E7C251"
                defaultColor="#E7C251"
                readonly="true"
                rating= "{{ restaurant.value.rating }}">
              </ionic3-star-rating>
              <div style="color: #000000; font-size: 15px; margin-left: 10%;">{{ restaurant.value.rating }}/5 - <!--<br style="margin-top: 5%;">-->
              {{ restaurant.value.reviews }} Reviews
              </div>
            </div>


            <div class="allergen_box">
              <div *ngFor="let allergen of restaurant.value.allergens">
              <img class="allergen_icon" [src]="celery_image_url" *ngIf="allergen == 'celery'" alt="Celery" (click)='showInfoBubble("Celery")'>
              <img class="allergen_icon" [src]="crustacean_image_url" *ngIf="allergen == 'crustacean'" alt="Crustacean" (click)='showInfoBubble("Crustacean")'>
              <img class="allergen_icon" [src]="egg_image_url" *ngIf="allergen == 'egg'" alt="Egg" (click)='showInfoBubble("Egg")'>
              <img class="allergen_icon" [src]="fish_image_url" *ngIf="allergen == 'fish'" alt="Fish" (click)='showInfoBubble("Fish")'>
              <img class="allergen_icon" [src]="lupin_image_url" *ngIf="allergen == 'lupin'" alt="Lupin" (click)='showInfoBubble("Lupin")'>
              <img class="allergen_icon" [src]="milk_image_url" *ngIf="allergen == 'milk'" alt="Milk" (click)='showInfoBubble("Milk")'>
              <img class="allergen_icon" [src]="mollusc_image_url" *ngIf="allergen == 'mollusc'" alt="Mollusc" (click)='showInfoBubble("Mollusc")'>
              <img class="allergen_icon" [src]="mustard_image_url" *ngIf="allergen == 'mustard'" alt="Mustard" (click)='showInfoBubble("Mustard")'>
              <img class="allergen_icon" [src]="nuts_image_url" *ngIf="allergen == 'nuts'" alt="Nuts" (click)='showInfoBubble("Nuts")'>
              <img class="allergen_icon" [src]="peanuts_image_url" *ngIf="allergen == 'peanuts'" alt="Peanuts" (click)='showInfoBubble("Peanuts")'>
              <img class="allergen_icon" [src]="sasame_image_url" *ngIf="allergen == 'sesame'" alt="Sesame" (click)='showInfoBubble("Sesame")'>
              <img class="allergen_icon" [src]="soya_image_url" *ngIf="allergen == 'soya'" alt="Soya" (click)='showInfoBubble("Soya")'>
              <img class="allergen_icon" [src]="sulphur_image_url" *ngIf="allergen == 'sulphur'" alt="Sulphur" (click)='showInfoBubble("Sulphur")'>
              <img class="allergen_icon" [src]="wheat_image_url" *ngIf="allergen == 'wheat'" alt="Wheat" (click)='showInfoBubble("Wheat")'>

              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-list>
      <div id="infoBubble" *ngIf="showBubble == true" style="position: relative;">
        {{ bubbletext }}
      </div>
    </div>
  </div>
  <div id="news">
  </div>
</ion-content>
